<mat-card>
    <h1>Tezos as a Service [STAGING] - Client Side Example</h1>
    <p>
        This application is using websocket connection available from TAAS (Tezos as a Service).<br /> SignalR
        (WebSocket) Connection is available at https://taas-staging.agile-ventures.com/api/negotiate. <br /> You can see
        the sample subscribing to all transactions, originations and delegations in a signalr.service.ts file.
    </p>
    <p>
        We will offer more subscriptions for real-time push updates based on the address, minimum transacted amount,
        etc.
    </p>
</mat-card>

<mat-divider></mat-divider>

<mat-tab-group>
    <mat-tab label="Blocks">
        <table mat-table #tableBlocks [dataSource]="blocks" class="mat-elevation-z8" style="width:100%">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Level Column -->
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Level </th>
                <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

            <!-- Block Hash Column -->
            <ng-container matColumnDef="hash">
                <th mat-header-cell *matHeaderCellDef> Hash </th>
                <td mat-cell *matCellDef="let element"> {{element.hash}} </td>
            </ng-container>

            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
            </ng-container>

            <!-- Validation Pass Column -->
            <ng-container matColumnDef="validation_pass">
                <th mat-header-cell *matHeaderCellDef> Validation Pass </th>
                <td mat-cell *matCellDef="let element"> {{element.validation_pass}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTableBlocks"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTableBlocks;"></tr>
        </table>

        <div *ngIf="!blocks || blocks.length === 0">
            <mat-card>
                <p>Waiting for the new block on Tezos mainnet ...</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Transactions">
        <table mat-table #tableTransactions [dataSource]="transactions" class="mat-elevation-z8" style="width:100%">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Source Column -->
            <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef> Source </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_content.source}} </td>
            </ng-container>

            <!-- Destination Column -->
            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef> Destination </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_content.destination}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_content.amount | amountToTez}} </td>
            </ng-container>

            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
            </ng-container>

            <!-- Level Column -->
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Block Level </th>
                <td mat-cell *matCellDef="let element"> {{element.block_level}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTableTransaction"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTableTransaction;"></tr>
        </table>

        <div *ngIf="!transactions || transactions.length === 0">
            <mat-card>
                <p>Waiting for the new transactions on Tezos mainnet ...</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Originations">
        <table mat-table #tableOriginations [dataSource]="originations" class="mat-elevation-z8" style="width:100%">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Source Column -->
            <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef> Source </th>
                <td mat-cell *matCellDef="let element"> {{element.origination_content.source}} </td>
            </ng-container>

            <!-- Originated Column -->
            <ng-container matColumnDef="originated">
                <th mat-header-cell *matHeaderCellDef> Originated </th>
                <td mat-cell *matCellDef="let element"> {{element.origination_content.metadata.operation_result.originated_contracts[0]}} </td>
            </ng-container>

            <!-- Fee Column -->
            <ng-container matColumnDef="fee">
                <th mat-header-cell *matHeaderCellDef> Fee </th>
                <td mat-cell *matCellDef="let element"> {{element.origination_content.fee | feeToTez}} </td>
            </ng-container>

            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
            </ng-container>

            <!-- Level Column -->
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Block Level </th>
                <td mat-cell *matCellDef="let element"> {{element.block_level}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTableOrigination"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTableOrigination;"></tr>
        </table>

        <div *ngIf="!originations || originations.length === 0">
            <mat-card>
                <p>Waiting for the new originations on Tezos mainnet ...</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Delegations">
        <table mat-table #tableDelegations [dataSource]="delegations" class="mat-elevation-z8" style="width:100%">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Source Column -->
            <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef> Source </th>
                <td mat-cell *matCellDef="let element"> {{element.delegation_content.source}} </td>
            </ng-container>

            <!-- Delegate Column -->
            <ng-container matColumnDef="delegate">
                <th mat-header-cell *matHeaderCellDef> Delegate </th>
                <td mat-cell *matCellDef="let element"> {{element.delegation_content.delegate}} </td>
            </ng-container>

            <!-- Fee Column -->
            <ng-container matColumnDef="fee">
                <th mat-header-cell *matHeaderCellDef> Fee </th>
                <td mat-cell *matCellDef="let element"> {{element.delegation_content.fee | feeToTez}} </td>
            </ng-container>

            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
            </ng-container>

            <!-- Block Level Column -->
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Block Level </th>
                <td mat-cell *matCellDef="let element"> {{element.block_level}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTableDelegation"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTableDelegation;"></tr>
        </table>
        <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">></mat-paginator> -->

        <div *ngIf="!delegations || delegations.length === 0">
            <mat-card>
                <p>Waiting for the new delegations on Tezos mainnet ...</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>